.teaching {
}

.links {
  display: flex;
}

.links__item {
  margin-left: 25px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.links__item:first-child {
  margin-left: 0;
}

.links__item img {
  width: 100%;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20;
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(101%);
}

.links__item:hover .hover {
  transform: translateX(0);
}

.hover__title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 18px;
  width: 90%;
  transition: transform 1s;
  transform: translateX(30px);
}

.links__item:hover .hover__title {
  transform: translateX(0);
}

.hover__time {
  margin-top: auto;
  background: #fff;
  padding: 4px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #2d2d2d;
  font-size: 13px;
  border-radius: 16px;
  transition: transform 1.1s;
  transform: translateX(40px);
}

.links__item:hover .hover__time {
  transform: translateX(0);
}
